.carousel-inner {
    height: 500px;
}

.mb-20 {
    margin-bottom: 20px;
}

#dts-header {
    height: 40px;
    margin-bottom: 20px;
}

#dts-promotion {
    margin-bottom: 20px;
}

#dts-app-flow {
    margin-bottom: 20px;
}


#dts-contact-us {
    margin-bottom: 20px;
}

#dts-footer {
    height: 150px;
}