<section id="dts-header">
    <!-- <nav class="navbar navbar-dark bg-dark">
      </nav> -->
    <!-- Image and text -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="./../../assets/images/digitailors_app_icon.png" width="30" height="30" alt="App Icon">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link " href="#">Digi Tailors</a>
                </li>

            </ul>

        </div>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#dts-app-flow">How To Use</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#dts-contact-us">Contact Us</a>
            </li>

        </ul>
    </nav>



</section>
<section id="dts-promotion">
    <div class="jumbotron bg-light">
        <h1 class="display-4">Digi Tailors</h1>
        <p class="lead">Single place for tailor shop owners to manage customer, measurement and invoices.</p>
        <hr class="my-4">
        <p class="lead ">
            <a class="btn btn-success btn-lg mb-20" href="#dts-app-flow" role="button">Learn more</a> <br />
            <a class="btn btn-success btn-lg " href="https://play.google.com/store/apps/details?id=com.demotailorshop"
                target="_blank" role="button">Download from google play</a>
        </p>
    </div>
</section>


<section id="dts-app-flow">
    <div class="container mb-20">
        <div class="row">
            <div class="col-md-2 bg-light">
                <div *ngIf="userHelpLinkList">
                    <nav class="nav nav-tab flex-column">
                        <div *ngFor="let helpLink of userHelpLinkList; let i = index">

                            <a [ngClass]="i == activeLinkIndex ? 'nav-link btn-sm mb-20 active text-left disabled' : 'btn btn-link btn-sm mb-20 text-left'"
                                role="button" (click)="getUserHelp(i)">{{helpLink | titlecase}}</a>
                        </div>
                    </nav>

                </div>
            </div>
            <div class="col-md-10">
                <div class="container" *ngIf="userHelpDto">
                    <div class="row">
                        <div *ngFor="let step of userHelpDto.helpStepsList">
                            <div class="col-md-3">
                                <div class="card mb-20" style="width: 12rem;">
                                    <img class="card-img-top" [src]="step.stepsImageList[0]" alt="Card image cap"
                                        width="50" height="300" (click)="testMessage()">
                                    <div class="card-body">
                                        <p class="card-title">{{step.title}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="dts-contact-us">
    <div class="container">
        <form [formGroup]="contactUsForm" (ngSubmit)="contactUs()">
            <div class="continer">
                <div class="row mb-20">
                    <div class="col col-md-4">
                        <input type="text" formControlName="userName" class="form-control" placeholder="Full Name">
                    </div>
                    <div class="col col-md-4">
                        <input type="text" formControlName="email" class="form-control" placeholder="Email Address">
                    </div>

                </div>
                <div class="row">
                    <div class="col col-md-8">
                        <textarea formControlName="comments" class="form-control" rows="5"
                            placeholder="Commment"></textarea>
                    </div>
                </div>
                <div class="row mb-20">
                    <div class="form-check">
                        <input type="checkbox" formControlName="receivePromotion" class="form-check-input"
                            id="exampleCheck1">
                        <label class="form-check-label small" for="exampleCheck1">Receive Promotions and Offer
                            Emails</label>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </form>
    </div>
</section>


<section id="dts-footer">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="./../../assets/images/digitailors_app_icon.png" width="120" height="120" alt="App Icon">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Digi Tailors</a>
                </li>

            </ul>

        </div>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#dts-app-flow">How To Use</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#dts-contact-us">Contact Us</a>
            </li>

        </ul>
    </nav>
</section>